Biblioteka_WebService/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebApplication1/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soa/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soa/">

<xs:element name="dodajKsiazki" type="tns:dodajKsiazki"/>

<xs:element name="dodajKsiazkiResponse" type="tns:dodajKsiazkiResponse"/>

<xs:element name="dodajPrzykladoweFilmyDoBazy" type="tns:dodajPrzykladoweFilmyDoBazy"/>

<xs:element name="dodajPrzykladoweFilmyDoBazyResponse" type="tns:dodajPrzykladoweFilmyDoBazyResponse"/>

<xs:element name="znajdzKsiazkiPoAutorze" type="tns:znajdzKsiazkiPoAutorze"/>

<xs:element name="znajdzKsiazkiPoAutorzeResponse" type="tns:znajdzKsiazkiPoAutorzeResponse"/>

<xs:element name="znajdzKsiazkiPoDacie" type="tns:znajdzKsiazkiPoDacie"/>

<xs:element name="znajdzKsiazkiPoDacieResponse" type="tns:znajdzKsiazkiPoDacieResponse"/>

<xs:element name="znajdzKsiazkiPoId" type="tns:znajdzKsiazkiPoId"/>

<xs:element name="znajdzKsiazkiPoIdResponse" type="tns:znajdzKsiazkiPoIdResponse"/>

<xs:element name="znajdzKsiazkiPoTytule" type="tns:znajdzKsiazkiPoTytule"/>

<xs:element name="znajdzKsiazkiPoTytuleResponse" type="tns:znajdzKsiazkiPoTytuleResponse"/>

<xs:element name="znajdzKsiazkiPoWydawnictiwie" type="tns:znajdzKsiazkiPoWydawnictiwie"/>

<xs:element name="znajdzKsiazkiPoWydawnictiwieResponse" type="tns:znajdzKsiazkiPoWydawnictiwieResponse"/>

<xs:element name="znajdzWszystkieKsiazki" type="tns:znajdzWszystkieKsiazki"/>

<xs:element name="znajdzWszystkieKsiazkiResponse" type="tns:znajdzWszystkieKsiazkiResponse"/>

<xs:complexType name="dodajKsiazki">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="rok_wydania" type="xs:int"/>
<xs:element name="tytul" type="xs:string" minOccurs="0"/>
<xs:element name="wydawnictwo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKsiazkiResponse">
<xs:sequence>
<xs:element name="ksiazka" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ksiazka">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="rok_wydania" type="xs:int"/>
<xs:element name="tytul" type="xs:string" minOccurs="0"/>
<xs:element name="wydawnictwo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoDacie">
<xs:sequence>
<xs:element name="rok_wydania" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoDacieResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoAutorze">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoAutorzeResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajPrzykladoweFilmyDoBazy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="dodajPrzykladoweFilmyDoBazyResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoIdResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzWszystkieKsiazki">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="znajdzWszystkieKsiazkiResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoWydawnictiwie">
<xs:sequence>
<xs:element name="wydawnictwo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoWydawnictiwieResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoTytule">
<xs:sequence>
<xs:element name="tytul" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="znajdzKsiazkiPoTytuleResponse">
<xs:sequence>
<xs:element name="ksiazki" type="tns:ksiazka" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>